/* LIGHT MODE (Default) */
:root {
    --bg-body: #f8fafc;
    --bg-card: #ffffff;
    --text-color: #1e293b;
}

/* DARK MODE */
[data-theme="dark"] {
    --bg-body: #1e293b; /* Middle Dark */
    --bg-card: #334155;
    --text-color: #f8fafc;
}

body {
    background-color: var(--bg-body) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--bg-card) !important;
    color: var(--text-color) !important;
    border: none !important;
}